<v-layout>
    <h1 class="title">Login</h1>
    <div>
        <form @submit.prevent="register(user)">
            <div class="field">

                <div class="label">
                    <i class="fa fa-envelope fa-fw"></i> Email
                </div>
                <div class="control">

                    <input
                            v-model="user.email"
                            type="email"
                            placeholder="Email"
                            class="input"
                    >
                </div>

            </div>
            <div class="field">

                <div class="label">
                    <i class="fa fa-lock fa-fw"></i> Password
                </div>
                <p class="control">
                    <input
                            v-model="user.password"
                            type="password"
                            placeholder="Password"
                            class="input"
                    >
                </p>

            </div>
            <div class="field">
                <p class="control">

                    <button class="button is-primary">
                        Login
                    </button>
                </p>
            </div>
        </form>
        <div>
            Don't have account?
            <router-link :to="{ name: 'register.index' }">Register</router-link>
        </div>
    </div>
</v-layout>